@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.header {
    background-color: #fff;
    width: 100%;
    position: fixed;
}

.logo a {
    font-size: 24px;
    margin-left: 50px;
    font-family: 'Borlow', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #414141;
}

.toolbar {
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}